*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
}

// SASS Variables
$main_color: #FFCD1A;
$secundary_color: #180E04;
$white_color: #F0F0F0;


$theme-colors: (
  "primary": $main_color,
  "danger": #ff4136,
  "dark_bg": $secundary_color,
  "white": $white_color
);

.btn-style{
  background-color: $secundary_color;
  color: $white_color;
  padding: 5px;
  border: none;
  border-radius: 2px;
  font-weight: bold;
  font-size: 14px;
}

.btn-style:hover{
  scale: 1.025;
  transition: 0.5s;
  background-color: $white_color;
  color: $secundary_color;
  box-shadow: 0px 10px 13px -7px #180E04, 16px 13px 23px 8px rgba(24, 14, 4, 0.126);
}

header{
  color: $secundary_color;

  .dropdown-item:hover{
    background-color: $main_color;
    transition: .5s;
  }

  .nav-item{
    margin: 0 10px;
    height: 30px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    
    .nav-link{
      color: $secundary_color;
    }
    
  }

  .nav-item:hover{
    scale: 1.025;
    transition: .5s;

    .nav-link:hover{
      color: $white_color;
      font-weight: bold;
    }
  }

}


@import "../../node_modules/bootstrap/scss/bootstrap.scss";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');