*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

// SASS Variables
$main_color: #FFCD1A;
$secundary_color: #180E04;
$white_color: #F0F0F0;


$theme-colors: (
  "primary": $main_color,
  "danger": #ff4136,
  "dark_bg": $secundary_color,
  "white": $white_color
);

@import "../../node_modules/bootstrap/scss/bootstrap.scss"