*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
}


body{
  height: 100vh;
}
// SASS Variables
$main_color: #FFCD1A;
$secundary_color: #180E04;
$white_color: #F0F0F0;
$mexican_font: "MexicanFont", sans-serif;

$theme-colors: (
  "primary": $main_color,
  "danger": #ff4136,
  "dark_bg": $secundary_color,
  "white": $white_color
);

// Buttons style
.btn-style{
  background-color: $secundary_color;
  color: $white_color;
  padding: 5px;
  border: none;
  border-radius: 2px;
  font-weight: bold;
  font-size: 14px;
}

//Buttons hover
.btn-style:hover{
  scale: 1.025;
  transition: 0.5s;
  background-color: $white_color;
  color: $secundary_color;
  box-shadow: 0px 10px 13px -7px #180E04, 16px 13px 23px 8px rgba(24, 14, 4, 0.126);
}

header{
  //Styling the menu's dropdown background
  .dropdown-item:hover{
    background-color: $main_color;
    transition: .5s;
  }

  //Styling the nav itens in header
  .nav-item{
    margin: 0 10px;
    height: 30px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    
    //The nav text, like "Home", "About", etc
    .nav-link{
      color: $secundary_color;
    }
    
  }
  
  //Styling the nav itens hover
  .nav-item:hover{
    scale: 1.025;
    transition: .5s;

    .nav-link:hover{
      color: $white_color;
      font-weight: bold;
    }
  }

}

//Styling the homepage
section#home_page{
  height: 90vh;
  background: url(../../assets/images/home\ background-resized.jpg) center/cover no-repeat; //image, position, size, repeat


  h1, h3{
    font-family: $mexican_font;
    line-height: 56.47%; 
    letter-spacing: 2.72px;
    text-transform: uppercase;
    margin-bottom: 25px;
  }

  h1{
    font-size: 8.5em;
  }

  h3{
    font-size: 5.375em;
  }
}

section#suggestion_section{
  background-image:   url(../../assets/images/background-art.png);
  background-repeat: no-repeat;
  background-position: bottom right;
  article{
    #main_marketing_message{
      font-family: $mexican_font;
      font-size: 2.625em;
      line-height: 76.8px; /* 182.857% */
      letter-spacing: 0.84px;
      text-transform: uppercase;
    }
  }
}

//Mobile adjustments
@media (max-width: 768px){
  //Home page titles
  section#home_page{
    h1{
      font-size: 3.75em;
    }

    h3{
      font-size: 2.75em;
    }
  }

  //Suggestion section - messages
  section#suggestion_section{
    article{
      #main_marketing_message{
        font-size: 1.625em;
        letter-spacing: 0.4px;
        line-height: 32px;
        width: 100%;
      }

      #sub_marketng_message{
        font-weight: 400;
        line-height: 30px; 
        font-size: 1.313em;
        max-width: 600px;
        width: 100%;
      }
    }
  }
}

@import "../../node_modules/bootstrap/scss/bootstrap.scss";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@font-face {
  font-family: 'MexicanFont';
  src: url('../../assets/fonts/mexican_knappett.ttf') format('truetype');
}
